<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body >
<section class="vh-100 m-0" >
    <div class="d-flex justify-content-center" style="background-image: linear-gradient(rgba(79, 121,66,.18), rgb(79,121,66,.37));">
        <h2 class="text-center mb-1 d-block align-middle mx-auto p-2 mt-4" style="font-size: 40px;">
            Login
            <img src="http://cdn.onlinewebfonts.com/svg/img_411076.png" alt="image" width="100" height="100" class="ml-2 mt-1 p-1 d-block">
        </h2>
    </div>
<div class="h-100" style="background-image: linear-gradient(rgba(79, 121,66,.37), rgb(79,121,66,1));" >
    <div class="container h-100" >
        <div class="row justify-content-center colorBg">
            <div class="col-md-7 col-sm-8 col-lg-5 col-xs-10">
                <form th:action="@{/login}" th:object="${userLogin}" method="POST">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2r1">Email address</label>
                        <input type="email" id="form2r1" th:field="*{username}" class="form-control"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2r2">Password</label>
                        <input type="password" id="form2r2" th:field="*{password}" class="form-control"/>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn-login btn-block mb-4">Sign in</button>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <a class="btn-lg btn-google btn-block" style="display: flex; align-items: center;" href="#">
                                <ion-icon style="margin-right: 15px;" name="logo-google"></ion-icon>
                                Continue with Google</a>

                        </div>
                    </div>
                    <!-- Register buttons -->
                    <div class="row text-center">
                        <div class="col-auto">
                            <p>Not a member? <a th:href="@{/register}">Register</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
</body>

</html>